<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="c:/temp/nlog-internal.log">

  <!-- Định nghĩa biến cho thư mục chứa log -->
  <variable name="logDirectory" value="${basedir}/logs" />

  <targets>
    <!-- Ghi log vào file (log rotation theo ngày) -->
    <target xsi:type="File"
            name="fileTarget"
            fileName="${logDirectory}/${shortdate}.log"
            archiveFileName="${logDirectory}/archive/{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30"
            encoding="utf-8"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=toString}" />
  </targets>

  <rules>
    <!-- Ghi tất cả log từ Debug trở lên vào file -->
    <logger name="*" minlevel="Debug" writeTo="fileTarget" />
  </rules>
</nlog>
